body {
  height: 100vh;
  background-color: lemonchiffon;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: midnightblue;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
padding: 8px;
border-radius: 10px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}


.center
{
display: flex;
align-items: center;
justify-content: center;
}

.container {
    max-width: 150px;
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 8px; 
    border-radius: 10x; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: midnightblue;
}

.down
{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

tr, td{
border: 1px solid black;
padding: 8px;
}